In [79]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from keras.models import Sequential
from keras.layers import Dense

In [80]:
df=pd.read_csv('data.csv')
qmark='?'
df.replace(qmark,np.NaN,inplace=True)

In [81]:
df['A2']=pd.to_numeric(df['A2'], errors='coerce')
df['A14']=pd.to_numeric(df['A14'], errors='coerce')
#df['A1'].dtype
A2_mean=df["A2"].mean()
A14_mean=df["A14"].mean()

In [82]:
# #drop all the null values
# df=df.dropna(axis=0)

df=df.fillna({'A1':'b'})
df=df.fillna({'A2':A2_mean,'A14':A14_mean})
df=df.fillna({'A3':'u'})
df=df.fillna({'A4':'g'})
df=df.fillna({'A6':'c'})
df=df.fillna({'A9':'v'})

In [83]:
# encode A16 lables success =1 failure =0
df['A16'] = df['A16'].map({label:idx for idx,label in enumerate(np.unique(df['A16']))})


# encode A1 lables a =0 b =1
df['A1'] = df['A1'].map({label:idx for idx,label in enumerate(np.unique(df['A1']))})

# encode A8 lables false =0 true =1
df['A8'] = df['A8'].map({label:idx for idx,label in enumerate(np.unique(df['A8']))})

# encode A11 lables false =0 true =1
df['A11'] = df['A11'].map({label:idx for idx,label in enumerate(np.unique(df['A11']))})

# encode A13 lables false =0 true =1
df['A13'] = df['A13'].map({label:idx for idx,label in enumerate(np.unique(df['A13']))})

In [84]:
x_A3=pd.get_dummies(df[['A3']],drop_first=True)

x_A4=pd.get_dummies(df[['A4']],drop_first=True)

x_A6=pd.get_dummies(df[['A6']])
x_A9=pd.get_dummies(df[['A9']])
x_A15=pd.get_dummies(df[['A15']],drop_first=True)

df=pd.concat([df['A1'],df['A2'],x_A3,x_A4,df['A5'],x_A6,df['A7'],df['A8'],x_A9,df['A10'],df['A11'],df['A12'],df['A13'],df['A14'],x_A15,df['A16']],axis=1)
#df.to_csv(r'myfile.csv', index = False) 
#df.head()

In [53]:
# # ---------------------- Preprocess Test data -----------------------------------------------------------

# df_test=pd.read_csv('testdata_10%.csv')
# qmark='?'
# df_test.replace(qmark,np.NaN,inplace=True)

# df_test=df_test.fillna({'A1':'b'})
# df_test=df_test.fillna({'A2':31.976661,'A14':186.928044})
# df_test=df_test.fillna({'A3':'u'})
# df_test=df_test.fillna({'A4':'g'})
# df_test=df_test.fillna({'A6':'c'})
# df_test=df_test.fillna({'A9':'v'})

# # encode A1 lables a =0 b =1
# df_test['A1'] = df_test['A1'].map({label:idx for idx,label in enumerate(np.unique(df_test['A1']))})

# # # encode A8 lables false =0 true =1
# df_test['A8'] = df_test['A8'].map({label:idx for idx,label in enumerate(np.unique(df_test['A8']))})

# # # encode A11 lables false =0 true =1
# df_test['A11'] = df_test['A11'].map({label:idx for idx,label in enumerate(np.unique(df_test['A11']))})

# # # encode A13 lables false =0 true =1
# df_test['A13'] = df_test['A13'].map({label:idx for idx,label in enumerate(np.unique(df_test['A13']))})


# x_A3=pd.get_dummies(df_test[['A3']],drop_first=True)
# x_A4=pd.get_dummies(df_test[['A4']],drop_first=True)
# x_A6=pd.get_dummies(df_test[['A6']])
# x_A9=pd.get_dummies(df_test[['A9']])
# x_A15=pd.get_dummies(df_test[['A15']],drop_first=True)

# df_test=pd.concat([df_test['A1'],df_test['A2'],x_A3,x_A4,df_test['A5'],x_A6,df_test['A7'],df_test['A8'],x_A9,df_test['A10'],df_test['A11'],df_test['A12'],df_test['A13'],df_test['A14'],x_A15],axis=1)

# df_test.head()

,A1,A2,A3_y,A4_p,A5,A6_aa,A6_c,A6_i,A6_m,A6_q,...,A7,A8,A9_bb,A9_h,A9_v,A10,A11,A12,A13,A14
0,1,32.67,1,1,9.000,0,0,0,0,0,...,0,0,0,1,0,5.250,1,0,1,154
1,1,20.08,0,0,0.125,0,0,0,0,1,...,768,1,0,0,1,1.000,0,1,0,240
2,1,20.08,0,0,0.250,0,0,0,0,1,...,0,0,0,0,1,0.125,0,0,0,200
3,1,22.17,0,0,2.250,0,0,1,0,0,...,10,0,0,0,1,0.125,0,0,0,160
4,0,27.25,0,0,0.290,0,0,0,1,0,...,108,1,0,1,0,0.125,0,1,1,272

In [89]:

feature_cols=df.columns
feature_cols=feature_cols[0:len(feature_cols)-1]
#split dataset in features and target variable

X = df[feature_cols] # Features
y = df.A16 # Target variable

,A1,A2,A3_u,A3_y,A4_gg,A4_p,A5,A6_aa,A6_c,A6_cc,...,A9_v,A9_z,A10,A11,A12,A13,A14,A15_p,A15_s,A16
554,1,20.08,1,0,0,0,0.25,0,0,0,...,1,0,0.125,0,0,0,200.0,0,0,1
555,1,22.17,1,0,0,0,2.25,0,0,0,...,1,0,0.125,0,0,0,160.0,0,0,1
556,0,27.25,1,0,0,0,0.29,0,0,0,...,0,0,0.125,0,1,1,272.0,0,0,1
557,1,31.58,0,1,0,1,0.75,1,0,0,...,1,0,3.500,0,0,1,320.0,0,0,1
558,0,20.83,1,0,0,0,8.50,0,1,0,...,1,0,0.165,0,0,0,0.0,0,0,1
559,1,48.08,1,0,0,0,3.75,0,0,0,...,0,0,1.000,0,0,0,100.0,0,0,1
560,1,29.83,1,0,0,0,3.50,0,1,0,...,1,0,0.165,0,0,0,216.0,0,0,1
561,0,41.58,1,0,0,0,1.04,1,0,0,...,1,0,0.665,0,0,0,240.0,0,0,1
562,1,33.17,1,0,0,0,1.04,0,0,0,...,0,0,6.500,1,0,1,164.0,0,0,1
563,0,18.92,1,0,0,0,9.00,1,0,0,...,1,0,0.750,1,2,0,88.0,0,0,1
564,0,24.75,1,0,0,0,3.00,0,0,0,...,0,0,1.835,1,19,0,0.0,0,0,1
565,1,21.00,0,1,0,1,4.79,0,0,0,...,1,0,2.250,1,1,1,80.0,0,0,1

In [90]:
# Split dataset into training set and test set
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test
X_train=X[:552]
X_test=X[552:]
y_train=y[:552]

In [91]:

#-------------- Feature scaling --------------------------------------------
# random forest, decision trees do not need feature scaling

stdsc = StandardScaler()
X_train = stdsc.fit_transform(X_train)
X_test = stdsc.transform(X_test)

In [92]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

model.add(Dense(39, activation='relu', input_shape=(39,)))

model.add(Dense(39, activation='relu'))

model.add(Dense(1, activation='sigmoid'))

In [93]:
model.compile(loss='binary_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])
                   
model.fit(X_train, y_train,epochs=4, batch_size=1, verbose=1)

Epoch 1/4
552/552 [==============================] - 1s 2ms/step - loss: 0.5155 - accuracy: 0.7572
Epoch 2/4
552/552 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8750
Epoch 3/4
552/552 [==============================] - 1s 2ms/step - loss: 0.3076 - accuracy: 0.8732
Epoch 4/4
552/552 [==============================] - 1s 2ms/step - loss: 0.2750 - accuracy: 0.8913

In [95]:
y_pred = model.predict_classes(X_test)
y_pred

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1]])

In [96]:
# score = model.evaluate(X_test, y_test,verbose=1)

# print(score)

NameError: name 'y_test' is not defined