In [18]:
import pandas as pd

In [19]:
full_data = pd.read_csv('fulldata.csv')
train_data = pd.read_csv('traindata.csv')
test_data = pd.read_csv('testdata.csv')

In [20]:
full_data.head()
#full_data.dtypes

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,b,30.83,u,g,0.000,w,0,True,v,1.25,True,1,False,202,g,Success
1,a,58.67,u,g,4.460,q,560,True,h,3.04,True,6,False,43,g,Success
2,a,24.5,u,g,0.500,q,824,False,h,1.50,True,0,False,280,g,Success
3,b,27.83,u,g,1.540,w,3,True,v,3.75,True,5,True,100,g,Success
4,b,20.17,u,g,5.625,w,0,False,v,1.71,True,0,False,120,s,Success

In [21]:
train_data.head()
#train_data.dtypes

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
0,b,30.83,u,g,0.00,w,0,True,v,1.25,True,1,False,202,g,Success
1,a,58.67,u,g,4.46,q,560,True,h,3.04,True,6,False,43,g,Success
2,a,24.5,u,g,0.50,q,824,False,h,1.50,True,0,False,280,g,Success
3,b,27.83,u,g,1.54,w,3,True,v,3.75,True,5,True,100,g,Success
4,b,25,u,g,11.25,c,1208,True,v,2.50,True,17,False,200,g,Success

In [22]:
test_data.head()
#test_data.dtypes

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15
0,b,32.67,y,p,9.00,w,0,False,h,5.25,True,0,True,154,g
1,a,28.08,y,p,15.00,e,13212,False,z,0.00,True,0,False,0,g
2,b,73.42,u,g,17.75,ff,0,False,ff,0.00,True,0,True,0,g
3,b,64.08,u,g,20.00,x,1000,True,h,17.50,True,9,True,0,g
4,b,51.58,u,g,15.00,c,0,True,v,8.50,True,9,False,0,g

In [24]:
full_len = len(full_data)
print('full_len:', full_len)
train_len = len(train_data)
print('train_len:', train_len)
test_len = len(test_data)
print('test_len:', test_len)

full_len: 690
train_len: 552
test_len: 138

In [25]:
list = []
for ti,trow in test_data.iterrows():
    print(ti)
    found=False
    for fi,frow in full_data.iterrows():
        if frow.drop('A16').equals(trow):
            print('found', frow.tolist())
            found=True
            full_data.drop(index=fi, axis=0, inplace=True)
            #test_data.iloc[ti]=frow
            #testfullset=pd.concat([testfullset,frow], ignore_index=True)
            list.append(frow['A16'])
            break
    if not found:
        print('not found')
        list.append('Not Found')

0
found ['b', '32.67', 'y', 'p', 9.0, 'w', 0, False, 'h', 5.25, True, 0, True, '154', 'g', 'Success']
1
found ['a', '28.08', 'y', 'p', 15.0, 'e', 13212, False, 'z', 0.0, True, 0, False, '0', 'g', 'Success']
2
found ['b', '73.42', 'u', 'g', 17.75, 'ff', 0, False, 'ff', 0.0, True, 0, True, '0', 'g', 'Success']
3
found ['b', '64.08', 'u', 'g', 20.0, 'x', 1000, True, 'h', 17.5, True, 9, True, '0', 'g', 'Success']
4
found ['b', '51.58', 'u', 'g', 15.0, 'c', 0, True, 'v', 8.5, True, 9, False, '0', 'g', 'Success']
5
found ['b', '26.67', 'y', 'p', 1.75, 'c', 5777, True, 'v', 1.0, True, 5, True, '160', 'g', 'Success']
6
found ['b', '25.33', 'u', 'g', 0.58, 'c', 5124, True, 'v', 0.29, True, 7, True, '96', 'g', 'Success']
7
found ['b', '30.17', 'u', 'g', 6.5, 'cc', 1200, True, 'v', 3.125, True, 8, False, '330', 'g', 'Success']
8
found ['b', '27', 'u', 'g', 0.75, 'c', 150, True, 'h', 4.25, True, 3, True, '312', 'g', 'Success']
9
found ['b', '23.17', '?', '?', 0.0, '?', 0, False, '?', 0.0, False, 0, False, '?', 'p', 'Success']
10
found ['b', '34.17', 'u', 'g', 5.25, 'w', 6, False, 'v', 0.085, False, 0, True, '290', 'g', 'Success']
11
found ['b', '38.67', 'u', 'g', 0.21, 'k', 0, False, 'v', 0.085, True, 0, True, '280', 'g', 'Success']
12
found ['b', '25.75', 'u', 'g', 0.75, 'c', 23, False, 'bb', 0.25, True, 0, False, '349', 'g', 'Success']
13
found ['a', '46.08', 'u', 'g', 3.0, 'c', 4159, True, 'v', 2.375, True, 8, True, '396', 'g', 'Success']
14
found ['a', '21.5', 'u', 'g', 6.0, 'aa', 918, True, 'v', 2.5, True, 3, False, '80', 'g', 'Success']
15
found ['?', '20.08', 'u', 'g', 0.125, 'q', 768, True, 'v', 1.0, False, 1, False, '240', 'g', 'Success']
16
found ['b', '20.5', 'u', 'g', 2.415, 'c', 3000, True, 'v', 2.0, True, 11, True, '200', 'g', 'Success']
17
found ['a', '29.5', 'u', 'g', 0.46, 'k', 500, True, 'v', 0.54, True, 4, False, '380', 'g', 'Success']
18
found ['?', '42.25', 'y', 'p', 1.75, '?', 1, False, '?', 0.0, False, 0, True, '150', 'g', 'Failure']
19
found ['b', '29.83', 'y', 'p', 1.25, 'k', 0, False, 'v', 0.25, False, 0, False, '224', 'g', 'Failure']
20
found ['b', '20.08', 'u', 'g', 0.25, 'q', 0, False, 'v', 0.125, False, 0, False, '200', 'g', 'Failure']
21
found ['b', '23.42', 'u', 'g', 0.585, 'c', 0, False, 'h', 0.085, True, 0, False, '180', 'g', 'Failure']
22
found ['a', '29.58', 'y', 'p', 1.75, 'k', 0, False, 'v', 1.25, False, 0, True, '280', 'g', 'Failure']
23
found ['b', '16.17', 'u', 'g', 0.04, 'c', 0, False, 'v', 0.04, False, 0, False, '0', 'g', 'Success']
24
found ['b', '32.33', 'u', 'g', 3.5, 'k', 0, False, 'v', 0.5, False, 0, True, '232', 'g', 'Failure']
25
found ['b', '?', 'y', 'p', 0.04, 'd', 0, False, 'v', 4.25, False, 0, True, '460', 'g', 'Failure']
26
found ['b', '47.83', 'u', 'g', 4.165, 'x', 0, False, 'bb', 0.085, False, 0, True, '520', 'g', 'Failure']
27
found ['b', '20', 'y', 'p', 1.25, 'k', 4, False, 'v', 0.125, False, 0, False, '140', 'g', 'Failure']
28
found ['b', '27.58', 'y', 'p', 3.25, 'q', 1, True, 'h', 5.085, False, 2, True, '369', 'g', 'Failure']
29
found ['b', '22', 'u', 'g', 0.79, 'w', 283, True, 'v', 0.29, False, 1, False, '420', 'g', 'Failure']
30
found ['b', '19.33', 'u', 'g', 10.915, 'c', 7, True, 'bb', 0.585, False, 2, True, '200', 'g', 'Failure']
31
found ['a', '38.33', 'u', 'g', 4.415, 'c', 0, False, 'v', 0.125, False, 0, False, '160', 'g', 'Failure']
32
found ['b', '29.42', 'u', 'g', 1.25, 'c', 108, True, 'h', 0.25, False, 2, True, '400', 'g', 'Failure']
33
found ['b', '22.67', 'u', 'g', 0.75, 'i', 9, True, 'v', 1.585, False, 1, True, '400', 'g', 'Failure']
34
found ['b', '32.25', 'y', 'p', 14.0, 'ff', 1, True, 'ff', 0.0, False, 2, False, '160', 'g', 'Failure']
35
found ['b', '29.58', 'u', 'g', 4.75, 'm', 68, True, 'v', 2.0, False, 1, True, '460', 'g', 'Failure']
36
found ['b', '18.42', 'y', 'p', 10.415, 'aa', 375, False, 'v', 0.125, True, 0, False, '120', 'g', 'Failure']
37
found ['b', '22.17', 'u', 'g', 2.25, 'i', 10, False, 'v', 0.125, False, 0, False, '160', 'g', 'Failure']
38
found ['b', '22.67', 'u', 'g', 0.165, 'c', 0, False, 'j', 2.25, False, 0, True, '0', 's', 'Success']
39
found ['a', '25.58', '?', '?', 0.0, '?', 0, False, '?', 0.0, False, 0, False, '?', 'p', 'Success']
40
found ['b', '18.83', 'u', 'g', 0.0, 'q', 1, False, 'v', 0.665, False, 0, False, '160', 'g', 'Failure']
41
found ['b', '21.58', 'y', 'p', 0.79, 'cc', 0, False, 'v', 0.665, False, 0, False, '160', 'g', 'Failure']
42
found ['b', '23.75', 'u', 'g', 12.0, 'c', 0, False, 'v', 2.085, False, 0, False, '80', 's', 'Failure']
43
found ['b', '22', 'y', 'p', 7.835, 'i', 0, False, 'bb', 0.165, False, 0, True, '?', 'g', 'Failure']
44
found ['b', '36.08', 'u', 'g', 2.54, 'ff', 1000, False, 'ff', 0.0, False, 0, False, '0', 'g', 'Failure']
45
found ['b', '29.25', 'u', 'g', 13.0, 'd', 0, False, 'h', 0.5, False, 0, False, '228', 'g', 'Failure']
46
found ['a', '19.58', 'u', 'g', 0.665, 'w', 5, False, 'v', 1.665, False, 0, False, '220', 'g', 'Failure']
47
found ['a', '22.92', 'u', 'g', 1.25, 'q', 809, False, 'v', 0.25, False, 0, True, '120', 'g', 'Failure']
48
found ['a', '27.25', 'u', 'g', 0.29, 'm', 108, True, 'h', 0.125, False, 1, True, '272', 'g', 'Failure']
49
found ['a', '38.75', 'u', 'g', 1.5, 'ff', 0, False, 'ff', 0.0, False, 0, False, '76', 'g', 'Failure']
50
found ['b', '32.42', 'y', 'p', 2.165, 'k', 0, False, 'ff', 0.0, False, 0, False, '120', 'g', 'Failure']
51
found ['a', '23.75', 'u', 'g', 0.71, 'w', 4, True, 'v', 0.25, False, 1, True, '240', 'g', 'Failure']
52
found ['b', '18.17', 'u', 'g', 2.46, 'c', 587, True, 'n', 0.96, False, 2, True, '160', 'g', 'Failure']
53
found ['b', '40.92', 'y', 'p', 0.5, 'm', 0, False, 'v', 0.5, False, 0, True, '130', 'g', 'Failure']
54
found ['b', '19.5', 'u', 'g', 9.585, 'aa', 350, False, 'v', 0.79, False, 0, False, '80', 'g', 'Failure']
55
found ['b', '28.58', 'u', 'g', 3.625, 'aa', 0, False, 'v', 0.25, False, 0, True, '100', 'g', 'Failure']
56
found ['b', '35.58', 'u', 'g', 0.75, 'k', 0, False, 'v', 1.5, False, 0, True, '231', 'g', 'Failure']
57
found ['b', '34.17', 'u', 'g', 2.75, 'i', 200, False, 'bb', 2.5, False, 0, True, '232', 'g', 'Failure']
58
found ['?', '33.17', 'y', 'p', 2.25, 'cc', 141, False, 'v', 3.5, False, 0, True, '200', 'g', 'Failure']
59
found ['b', '31.58', 'y', 'p', 0.75, 'aa', 0, False, 'v', 3.5, False, 0, True, '320', 'g', 'Failure']
60
found ['a', '52.5', 'u', 'g', 7.0, 'aa', 0, False, 'h', 3.0, False, 0, False, '0', 'g', 'Failure']
61
found ['b', '36.17', 'y', 'p', 0.42, 'w', 2, False, 'v', 0.29, False, 0, True, '309', 'g', 'Failure']
62
found ['b', '37.33', 'u', 'g', 2.665, 'cc', 501, False, 'v', 0.165, False, 0, True, '0', 'g', 'Failure']
63
found ['a', '20.83', 'u', 'g', 8.5, 'c', 351, False, 'v', 0.165, False, 0, False, '0', 'g', 'Failure']
64
found ['b', '24.08', 'u', 'g', 9.0, 'aa', 0, False, 'v', 0.25, False, 0, True, '0', 'g', 'Failure']
65
found ['b', '25.58', 'u', 'g', 0.335, 'k', 0, False, 'h', 3.5, False, 0, True, '340', 'g', 'Failure']
66
found ['a', '35.17', 'u', 'g', 3.75, 'ff', 200, True, 'ff', 0.0, False, 6, False, '0', 'g', 'Failure']
67
found ['b', '48.08', 'u', 'g', 3.75, 'i', 2, False, 'bb', 1.0, False, 0, False, '100', 'g', 'Failure']
68
found ['a', '15.83', 'u', 'g', 7.625, 'q', 160, True, 'v', 0.125, False, 1, True, '0', 'g', 'Failure']
69
found ['a', '22.5', 'u', 'g', 0.415, 'i', 0, False, 'v', 0.335, False, 0, True, '144', 's', 'Failure']
70
found ['b', '21.5', 'u', 'g', 11.5, 'i', 68, False, 'v', 0.5, True, 0, True, '100', 'g', 'Failure']
71
found ['a', '23.58', 'u', 'g', 0.83, 'q', 11, True, 'v', 0.415, False, 1, True, '200', 'g', 'Failure']
72
found ['a', '21.08', 'y', 'p', 5.0, 'ff', 0, False, 'ff', 0.0, False, 0, False, '0', 'g', 'Failure']
73
found ['b', '25.67', 'u', 'g', 3.25, 'c', 21, True, 'h', 2.29, False, 1, True, '416', 'g', 'Failure']
74
found ['a', '38.92', 'u', 'g', 1.665, 'aa', 390, False, 'v', 0.25, False, 0, False, '0', 'g', 'Failure']
75
found ['a', '15.75', 'u', 'g', 0.375, 'c', 18, False, 'v', 1.0, False, 0, False, '120', 'g', 'Failure']
76
found ['a', '28.58', 'u', 'g', 3.75, 'c', 154, True, 'v', 0.25, False, 1, True, '40', 'g', 'Failure']
77
found ['b', '22.25', 'u', 'g', 9.0, 'aa', 0, False, 'v', 0.085, False, 0, False, '0', 'g', 'Failure']
78

found ['b', '29.83', 'u', 'g', 3.5, 'c', 0, False, 'v', 0.165, False, 0, False, '216', 'g', 'Failure']
79
found ['a', '23.5', 'u', 'g', 1.5, 'w', 0, False, 'v', 0.875, False, 0, True, '160', 'g', 'Failure']
80
found ['b', '32.08', 'y', 'p', 4.0, 'cc', 0, False, 'v', 1.5, False, 0, True, '120', 'g', 'Failure']
81
found ['b', '31.08', 'y', 'p', 1.5, 'w', 0, False, 'v', 0.04, False, 0, False, '160', 's', 'Failure']
82
found ['b', '31.83', 'y', 'p', 0.04, 'm', 0, False, 'v', 0.04, False, 0, False, '0', 'g', 'Failure']
83
found ['a', '21.75', 'u', 'g', 11.75, 'c', 0, False, 'v', 0.25, False, 0, True, '180', 'g', 'Failure']
84
found ['a', '17.92', 'u', 'g', 0.54, 'c', 5, True, 'v', 1.75, False, 1, True, '80', 'g', 'Failure']
85
found ['b', '30.33', 'u', 'g', 0.5, 'd', 0, False, 'h', 0.085, False, 0, True, '252', 's', 'Failure']
86
found ['b', '51.83', 'y', 'p', 2.04, 'ff', 1, False, 'ff', 1.5, False, 0, False, '120', 'g', 'Failure']
87
found ['b', '47.17', 'u', 'g', 5.835, 'w', 150, False, 'v', 5.5, False, 0, False, '465', 'g', 'Failure']
88
found ['b', '25.83', 'u', 'g', 12.835, 'cc', 2, False, 'v', 0.5, False, 0, False, '0', 'g', 'Failure']
89
found ['a', '50.25', 'u', 'g', 0.835, 'aa', 117, False, 'v', 0.5, False, 0, True, '240', 'g', 'Failure']
90
found ['?', '29.5', 'y', 'p', 2.0, 'e', 17, False, 'h', 2.0, False, 0, False, '256', 'g', 'Failure']
91
found ['a', '37.33', 'u', 'g', 2.5, 'i', 246, False, 'h', 0.21, False, 0, False, '260', 'g', 'Failure']
92
found ['a', '41.58', 'u', 'g', 1.04, 'aa', 237, False, 'v', 0.665, False, 0, False, '240', 'g', 'Failure']
93
found ['a', '30.58', 'u', 'g', 10.665, 'q', 3, True, 'h', 0.085, False, 12, True, '129', 'g', 'Failure']
94
found ['b', '19.42', 'u', 'g', 7.25, 'm', 1, True, 'v', 0.04, False, 1, False, '100', 'g', 'Failure']
95
found ['a', '17.92', 'u', 'g', 10.21, 'ff', 50, False, 'ff', 0.0, False, 0, False, '0', 'g', 'Failure']
96
found ['a', '20.08', 'u', 'g', 1.25, 'c', 0, False, 'v', 0.0, False, 0, False, '0', 'g', 'Failure']
97
found ['b', '19.5', 'u', 'g', 0.29, 'k', 364, False, 'v', 0.29, False, 0, False, '280', 'g', 'Failure']
98
found ['b', '27.83', 'y', 'p', 1.0, 'd', 537, False, 'h', 3.0, False, 0, False, '176', 'g', 'Failure']
99
found ['b', '17.08', 'u', 'g', 3.29, 'i', 2, False, 'v', 0.335, False, 0, True, '140', 'g', 'Failure']
100
found ['b', '36.42', 'y', 'p', 0.75, 'd', 3, False, 'v', 0.585, False, 0, False, '240', 'g', 'Failure']
101
found ['b', '40.58', 'u', 'g', 3.29, 'm', 0, False, 'v', 3.5, False, 0, True, '400', 's', 'Failure']
102
found ['b', '21.08', 'y', 'p', 10.085, 'e', 0, False, 'h', 1.25, False, 0, False, '260', 'g', 'Failure']
103
found ['a', '22.67', 'u', 'g', 0.75, 'c', 394, True, 'v', 2.0, False, 2, True, '200', 'g', 'Failure']
104
found ['a', '25.25', 'y', 'p', 13.5, 'ff', 1, True, 'ff', 2.0, False, 1, True, '200', 'g', 'Failure']
105
found ['b', '17.92', 'u', 'g', 0.205, 'aa', 750, False, 'v', 0.04, False, 0, False, '280', 'g', 'Failure']
106
found ['b', '35', 'u', 'g', 3.375, 'c', 0, False, 'h', 8.29, False, 0, True, '0', 'g', 'Failure']
107
found ['b', '20.17', 'u', 'g', 5.625, 'w', 0, False, 'v', 1.71, True, 0, False, '120', 's', 'Success']
108
found ['b', '32.08', 'u', 'g', 4.0, 'm', 0, False, 'v', 2.5, True, 0, True, '360', 'g', 'Success']
109
found ['b', '33.17', 'u', 'g', 1.04, 'r', 31285, False, 'h', 6.5, True, 0, True, '164', 'g', 'Success']
110
found ['a', '22.92', 'u', 'g', 11.585, 'cc', 1349, False, 'v', 0.04, True, 0, False, '80', 'g', 'Success']
111
found ['b', '54.42', 'y', 'p', 0.5, 'k', 314, False, 'h', 3.96, True, 0, False, '180', 'g', 'Success']
112
found ['b', '42.5', 'y', 'p', 4.915, 'w', 1442, False, 'v', 3.165, True, 0, True, '52', 'g', 'Success']
113
found ['b', '22.08', 'u', 'g', 0.83, 'c', 0, False, 'h', 2.165, False, 0, True, '128', 'g', 'Success']
114
found ['b', '29.92', 'u', 'g', 1.835, 'c', 200, False, 'h', 4.335, True, 0, False, '260', 'g', 'Success']
115
found ['a', '38.25', 'u', 'g', 6.0, 'k', 0, False, 'v', 1.0, True, 0, True, '0', 'g', 'Success']
116
found ['b', '48.08', 'u', 'g', 6.04, 'k', 2690, False, 'v', 0.04, False, 0, False, '0', 'g', 'Success']
117
found ['a', '45.83', 'u', 'g', 10.5, 'q', 0, True, 'v', 5.0, True, 7, True, '0', 'g', 'Success']
118
found ['b', '36.67', 'y', 'p', 4.415, 'k', 0, True, 'v', 0.25, True, 10, True, '320', 'g', 'Success']
119
found ['b', '28.25', 'u', 'g', 0.875, 'm', 0, True, 'v', 0.96, True, 3, True, '396', 'g', 'Success']
120
found ['a', '23.25', 'u', 'g', 5.875, 'q', 245, True, 'v', 3.17, True, 10, False, '120', 'g', 'Success']
121
found ['b', '21.83', 'u', 'g', 0.25, 'd', 0, False, 'h', 0.665, True, 0, True, '0', 'g', 'Success']
122
found ['a', '19.17', 'u', 'g', 8.585, 'cc', 0, True, 'h', 0.75, True, 7, False, '96', 'g', 'Success']
123
found ['b', '25.75', 'u', 'g', 0.5, 'c', 0, True, 'v', 1.46, True, 5, True, '312', 'g', 'Success']
124
found ['b', '20.42', 'u', 'g', 7.0, 'c', 1391, True, 'v', 1.625, True, 3, False, '200', 'g', 'Success']
125
found ['b', '?', 'u', 'g', 4.0, 'x', 2279, True, 'v', 5.0, True, 3, True, '290', 'g', 'Success']
126
found ['b', '39', 'u', 'g', 5.0, 'cc', 0, True, 'v', 3.5, True, 10, True, '0', 'g', 'Success']
127
found ['a', '64.08', 'u', 'g', 0.165, 'ff', 100, True, 'ff', 0.0, True, 1, False, '232', 'g', 'Success']
128
found ['b', '28.25', 'u', 'g', 5.125, 'x', 7, True, 'v', 4.75, True, 2, False, '420', 'g', 'Success']
129
found ['a', '28.75', 'u', 'g', 3.75, 'c', 0, True, 'v', 1.085, True, 1, True, '371', 'g', 'Success']
130
found ['b', '31.33', 'u', 'g', 19.5, 'c', 5000, True, 'v', 7.0, True, 16, False, '0', 'g', 'Success']
131
found ['a', '18.92', 'u', 'g', 9.0, 'aa', 591, True, 'v', 0.75, True, 2, False, '88', 'g', 'Success']
132
found ['a', '24.75', 'u', 'g', 3.0, 'q', 500, True, 'h', 1.835, True, 19, False, '0', 'g', 'Success']
133
found ['a', '30.67', 'u', 'g', 12.0, 'c', 19, True, 'v', 2.0, True, 1, False, '220', 'g', 'Success']
134
found ['b', '21', 'y', 'p', 4.79, 'w', 300, True, 'v', 2.25, True, 1, True, '80', 'g', 'Success']
135
found ['b', '13.75', 'y', 'p', 4.0, 'w', 1000, True, 'v', 1.75, True, 2, True, '120', 'g', 'Success']
136
found ['a', '46', 'u', 'g', 4.0, 'j', 960, False, 'j', 0.0, True, 0, False, '100', 'g', 'Success']
137
found ['a', '44.33', 'u', 'g', 0.0, 'c', 0, False, 'v', 2.5, True, 0, False, '0', 'g', 'Success']

In [26]:
test_y = pd.Series(list)
test_data['A16'] = test_y
test_data.tail()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
133,a,30.67,u,g,12.00,c,19,True,v,2.00,True,1,False,220,g,Success
134,b,21,y,p,4.79,w,300,True,v,2.25,True,1,True,80,g,Success
135,b,13.75,y,p,4.00,w,1000,True,v,1.75,True,2,True,120,g,Success
136,a,46,u,g,4.00,j,960,False,j,0.00,True,0,False,100,g,Success
137,a,44.33,u,g,0.00,c,0,False,v,2.50,True,0,False,0,g,Success

In [27]:
test_data.to_csv('full_test.csv')

In [ ]:
test_data = pd.concat([full_data, train_data]).drop_duplicates(keep=False)
print(len(test_data))

In [ ]:
test_data2 = full_data.merge(train_data, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
test_data2.to_csv('test_full_new.csv')
print(len(test_data2))

In [ ]:
#new = train_data.iloc[0]

In [ ]:
#newd = train_data.drop(index=0, axis=0)

In [ ]:
#newd.head()

In [ ]:

#for fi,frow in full_data.iterrows():
#    print(fi)
#    for ti,trow in train_data.iterrows():
#        if frow.all() == trow.all():
#            full_data.drop(index=fi, axis=0, inplace=True)
#            train_data.drop(index=ti, axis=0, inplace=True)
#            break

In [ ]:
print(full_data.columns.drop('A16').tolist())

In [ ]:
#full_data.groupby(full_data.columns.drop('A16').tolist()).count().to_csv('groupcount.csv')

In [ ]:
#list = []
#for ti,trow in test_data.iterrows():
#    print(ti)
#    for fi,frow in full_data.iterrows():
#        if frow.drop('A16').all() == trow.all():
#            print('found', frow.tolist())
#            full_data.drop(index=fi, axis=0, inplace=True)
#            #test_data.iloc[ti]=frow
#            #testfullset=pd.concat([testfullset,frow], ignore_index=True)
#            list.append(frow['A16'])
#            break

In [ ]:
test_data.head()

In [ ]:
#test_y = pd.Series(list)
#test_data['A16'] = test_y
#print(test_y)

In [ ]:
print(len(test_data))

In [ ]:
test_data.to_csv('fulltest_new.csv')

In [ ]:
#full_data.groupby(full_data.columns.tolist()).count().to_csv('groupcount_full.csv')

In [ ]:
#test_data.groupby(test_data.columns.tolist()).count().to_csv('groupcount_test.csv')