In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [49]:
df_train=pd.read_csv('data.csv')
df_test=pd.read_excel('testdata_10%.xlsx')
frames=[df_0,df_1]
df=pd.concat(frames)
df.tail()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
9,a,41.58,u,g,1.04,aa,237,False,v,0.665,False,0,False,240,g,NaN
10,b,33.17,u,g,1.04,r,31285,False,h,6.500,True,0,True,164,g,NaN
11,a,18.92,u,g,9.00,aa,591,True,v,0.750,True,2,False,88,g,NaN
12,a,24.75,u,g,3.00,q,500,True,h,1.835,True,19,False,0,g,NaN
13,b,21,y,p,4.79,w,300,True,v,2.250,True,1,True,80,g,NaN